**Download Options Data**

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta

import matplotlib.pyplot as plt

spy = yf.Ticker('SPY')

exp = spy.options[18]
days_to_exp = (datetime.strptime(exp, "%Y-%m-%d")-datetime.today()).days

option_chain = spy.option_chain(exp)

calls_df = option_chain.calls[['strike', 'bid', 'ask']].copy()
calls_df['mid_price'] = (calls_df['bid'] + calls_df['ask']) / 2
calls_df = calls_df[['strike', 'mid_price']]

puts_df = option_chain.puts[['strike', 'bid', 'ask']].copy()
puts_df['mid_price'] = (puts_df['bid'] + puts_df['ask']) / 2
puts_df = puts_df[['strike', 'mid_price']]


print(f'Expiration: {exp}')
days_to_exp/252

# with pd.ExcelWriter(f'spy_options_{exp}.xlsx', engine='xlsxwriter') as writer:
#     calls_df.to_excel(writer, sheet_name='Calls', index=False)
#     puts_df.to_excel(writer, sheet_name='Puts', index=False)

Expiration: 2025-07-31

0.5753968253968254

**Download Stock Price Data**

In [1]:
import yfinance as yf
import pandas as pd

tickers = ['INTC', 'JPM', 'AA', 'PG', '^GSPC']

start_date = '2022-02-21'
end_date = '2024-02-21'

data = yf.download(tickers=tickers, start=start_date, end=end_date, progress=False, auto_adjust=False, interval='1d')['Adj Close']

# Reset index so that the date becomes a column
data.reset_index(inplace=True)
# Format date column as MM/DD/YYYY
data['Date'] = data['Date'].dt.strftime('%m/%d/%Y')
# Save as CSV file with a comma separator
data.to_csv('RA_Q4_Dataset.csv', index=False)
data.head()

Ticker        Date         AA       INTC         JPM          PG        ^GSPC
0       02/22/2022  71.601578  41.764210  139.742737  146.536591  4304.759766
1       02/23/2022  72.790276  41.726833  136.816681  144.708725  4225.500000
2       02/24/2022  70.838127  43.661320  133.007294  140.811707  4288.700195
3       02/25/2022  75.235298  44.586502  136.154160  146.824249  4384.649902
4       02/28/2022  72.809586  44.577156  130.476868  144.643768  4373.939941

In [ ]:
import yfinance as yf
import pandas as pd
import numpy as np

tickers = ['INTC', 'JPM', 'AA', 'PG', '^GSPC']

start_date = '2000-01-01'
end_date = '2025-01-01'

df_daily = yf.download(tickers='^GSPC', start=start_date, end=end_date, progress=False, auto_adjust=False, interval='1d')['Adj Close']
df_monthly = yf.download(tickers='^GSPC', start=start_date, end=end_date, progress=False, auto_adjust=False, interval='1mo')['Adj Close']

np.mean(np.log(df_daily /df_daily.shift(1)).dropna())*251*100, np.mean(np.log(df_monthly /df_monthly.shift(1)).dropna())*12*100

(np.float64(5.5751572440161805), np.float64(5.776562002312479))